@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #1570ef;
  --secondary-color: #f9fafb;
  --border-color: #eaecf0;
  --font-color: #333;
  --error-color: red;
  --padding-sm: 8px;
  --padding-md: 10px;
  --radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: #374151;
  margin: auto;
  display: block;
}

a {
  color: #374151;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a3a3;
  /* Màu của thanh cuộn */
  border-radius: 10px;
  /* Bo góc */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #918c8c;
  /* Màu khi hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Màu nền của đường cuộn */
  border-radius: 10px;
  /* Bo góc */
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
  /* Màu của góc scroll ở các phần tử giao nhau */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(29 78 216);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 93, 227);
}

. {
  width: 100%;
  ;
  margin-left: auto;
  margin-right: auto;
}

/* animation */
.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 600ms, transform 600ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 600ms, transform 600ms;
}

/*  */
@keyframes toast-enter {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toast-exit {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast-enter {
  animation: toast-enter 0.5s forwards;
}

.toast-exit {
  animation: toast-exit 0.5s forwards;
}

@keyframes nav-enter {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes nav-exit {
  from {
    transform: translateY(0);
    opacity: 1;
    border: 0;
  }

  to {
    transform: translateY(-30px);
    opacity: 0;
    display: none;
  }
}

.nav-enter {
  display: block;
  animation: nav-enter 0.5s forwards;
}

.nav-exit {
  animation: nav-exit 0.5s forwards;
}

/* Custom slide */
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
}

/* Acesstrade */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.at--card {
  background: var(--secondary-color);
  border-radius: var(--radius);
  width: 100%;
  padding: var(--padding-md);
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}

.at--cps-wrap {
  display: flex;
  gap: var(--padding-sm);
  align-items: center;
  padding: var(--padding-md) 0;
  justify-content: center;
}

.at--cps-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.at--cps-campaign-thumb img {
  width: 200px;
  height: 200px;
  border-radius: var(--radius);
  object-fit: cover;
}

.at--convert-link-box {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-sm);
  /* width: 100%; */
}

.at--input-box {
  /* flex-grow: 1; */
  padding: var(--padding-sm);
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.at--input-box:focus {
  border-color: var(--primary-color);
}

.at--btn-box {
  padding: var(--padding-sm);
  border-radius: var(--radius);
  border: 1px solid var(--primary-color);
  background: #fff;
  color: var(--primary-color);
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.at--btn-box:hover {
  background: var(--primary-color);
  color: #fff;
}

.at--error {
  color: var(--error-color);
  font-size: 14px;
  padding-top: var(--padding-sm);
  display: none;
}

.at--direct-box {
  display: flex;
  justify-content: center;
  padding-top: var(--padding-md);
}

.at--cps-item label {
  padding: 12px;
}

.at--btn-direct {
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius);
}

.at--btn-direct:hover {
  background: rgb(30 64 175);
}

hr {
  background-color: var(--border-color);
  height: 1px;
  border: none;
  margin: var(--padding-md) 0;
}

@media screen and (max-width: 768px) {
  .at--cps-wrap {
    flex-direction: column;
  }
}

/* Table */

td,
th {
  min-width: 120px;
  word-wrap: break-word;
  height: auto;
  max-height: 300px;
  overflow: hidden;
}